---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    date: "Junio 2025",
    title: "Desarrollador web - Softeca",
    description:
      "Participación en el desarrollo de aplicaciones web utilizando Angular y Laravel, trabajando con un equipo. Encargado de implementar funcionalidades, optimizar el rendimiento de las interfaces y garantizar buenas prácticas de desarrollo en un entorno ágil. Contribución en el diseño y mantenimiento continuo de las aplicaciones, promoviendo el trabajo en equipo para alcanzar los objetivos del proyecto.",
    link: "https://www.softeca.es/",
  },
  {
    date: "Marzo 2025 - Mayo 2025",
    title: "Desarrollador web - Softeca",
    description:
      "Formación e integración en entornos de trabajo reales, participando en el desarrollo de una aplicación web con arquitectura MVC utilizando Angular y Laravel. Desarrollando un proyecto Laravel para afianzar conocimientos prácticos. Además, colaborando en la corrección de errores en aplicaciones existentes, lo que ha permitido adquirir experiencia en mantenimiento y depuración de código en entornos de producción.",
  },
  {
    date: "Marzo 2024 - Junio 2024",
    title: "Desarrollador de software y ayudante ' 365ITHub",
    description:
      "Desarrollo de pequeños scripts y herramientas automatizadas para optimizar tareas dentro de la tienda. Apoyo en el mantenimiento básico de las instalaciones, asegurando el correcto funcionamiento de los sistemas. Atención a clientes, brindando soporte, resolviendo dudas.",
  },
  {
    date: "Marzo 2022 - Junio 2022",
    title: "Desarrollador web con WordPress - Valsoft Informática",
    description:
      "Reparación de hardware para equipos de la empresa como para clientes externos, reemplazo de componentes y optimización del rendimiento de sistemas informáticos. Desarrollo del sitio web corporativo utilizando WordPress, integración de plugins, optimización para motores de búsqueda (SEO) y adaptación a dispositivos móviles (responsive design).",
    link: "https://valsoft.es/",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
